<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/frontier.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/tiles.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" media="screen">
    <!--<script src="../app.js"></script>-->
</head>
<body>



<div class = "page">

    <div class = "container">
        <h1>The Frontier</h1>
        <h2>Connecting disability to the world!</h2>

    </div>

    <div class = "buttonLinks">
        <button name = "homeButton" type = "button" onclick="goHome();">Home</button>
        <br>
        <button name ="jobsButton" type = "button" onclick="goJobs();">Jobs</button>
        <br>
        <button name = "companiesButton" type = "button" onclick="goCompanies();">Companies</button>
        <br>
        <button name = "trainingButton" type = "button" onclick="goTraining();">Training</button>
        <br>
        <button name = "userButton" type = "button" onclick="goExperience();">User Experiences</button>



    </div>


    <div class="wrapper">

        <% for(var i=0;i<jobs.length;i++){

        if(jobs[i].title && jobs[i].description){%>
        <div class="tile" id="userjobTile<%=i+1%>" >
            <b><h3><%=jobs[i].title+", "+jobs[i].company%></h3></b><h4><%=jobs[i].description%><br> <h3>Workplace Rating:</h3></h4>
            <div class = "tileBackground"> <%=jobs[i].title.replace(/[a-z]/g, '').replace(/\s+/g,'');%> </div>
        </div>
        <%}%>
        <%}%>

    </div>


    <div class="User">
        <div class = "Details">
            <!--id to be used to get data from server-->
            <h3><label id="UserUsername"><%= user.Username %></label></h3>

            <figure>
                <img src="../media/John.jpeg" alt="Profile picture" class = "profilePictures">
            </figure>
        </div>
        <div class="userInformation">

            <h4><label>Interests:</label></h4>
            <!--id to be used to get data from server-->
            <textarea readonly id="userInterests" rows="4" cols="50">
                <%= user.Interests; %>

            </textarea>
            <h4><label>Experiences:</label></h4>
            <!--id to be used to get data from server-->
            <textarea readonly id="userExperience" rows="4" cols="50">
                <%= user.Experiences ;%>


            </textarea>

        </div>

    </div>
</div>
<script type="text/javascript">
    function userSignUp(){
        /*
        var uname = document.getElementById("newUsername").value;
        var pword = document.getElementById("newPassword").value;

        this.username.push(uname);
        this.password.push(pword);
        console.log(this.username);
        console.log(this.password);
    */
        goJobs();

    }

    function companySignUp(){
        /*get data from html add to arraylist open newpage with usernamespecified*/
    }


    function login(){
        goJobs();

    }
    function clearContent(id){
        document.getElementById(id).value = '';
    }
    function addJob(){
        window.location = 'jobs';    // TODO change
    }

    function postJob(){

        var job = {
            title: document.getElementById('jobTitle').valueOf(),
            description: document.getElementById('jobDesc').valueOf(),
            email: document.getElementById('jobEmail').valueOf()
        };
        //jobs.push(job);
        window.location = 'companyProfile';
    }
    /* Submit and save data entered*/

    function goHome(){
        console.log('Go home.');
        window.location = '/home';
    }
    function goJobs(){
        window.location = '/jobs/'+document.getElementById("UserUsername").innerText;
    }
    function goCompanies(){
        window.location = '/companies/'+document.getElementById("UserUsername").innerText;
    }
    function goTraining(){
        window.location = '/training/'+document.getElementById("UsernameLink").innerText;
    }
    function goExperience(){
        window.location = '/experiences/'+document.getElementById("UsernameLink").innerText;
    }


</script>




</body>
</html>